@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: #f64c72;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}

.container {
  background-color: #fff;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh; 
  padding: 50px;
}

/* .container.show-nav {
  transform: rotate(-20deg);
} */

/*when adjusting the hight and width of the circle also adjust the top and left as needed*/
/* .circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #f64c72;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
} */

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);  
  transition: transform 0.4s ease-in;
}

nav ul li i{
  font-size: 20px;
  margin-right: 10px;
}
/* this for the list item thats directly after the navigation, unorder list, and the first list item*/
nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}
/*this for the last list item*/
nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}
/* content style */
.content{
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.outer-headings {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.outer-headings h1 {
  font-size: 45px;
}

.inner-headings {
  border: 0px solid #ddd;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    text-transform: uppercase;
    overflow: hidden;
}

.inner-headings span {
  position: relative;
  color: #f64c72;
  animation: animation 10s
  ease infinite;
}

@keyframes animation {
  0%,
  100% {
      top: 0;
  }
  20% {
      top: 0;
  }
  25% {
      top: -50px;
  }
  45% {
      top: -50px;
  }
  50% {
      top: -100px;
  }
  70% {
      top: -100px;
  }
  75% {
      top: -150px;
  }
  95% {
      top: -150px;
  }
}


.content p {
  color: #333;
  line-height: 1.5;
}
.selected {
    background-color: #f64c72;
    font-weight: bold;
    color: white;
}

/* Projects section */

.projects-section {
  text-align: center;
  padding: 20px;
}

#project-section-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  text-align: center;
  color: white;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  border: none;
  border-style: none;
  border-radius: 2px;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 30px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#projects-header {
  text-align: center;
}

.project-title {
  text-decoration: none;
  font-size: 2.4rem;
  transition: transform 0.3s ease-out;

}

.project-title:hover {
  transform: translateY(8px);
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

/* Contact page */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 10vh;
  padding: 0 2rem;
}

.contact-form{
  max-width: 100%;
  padding: 10px 20px;
  text-align: center;
  margin: 20px 10px;
}
fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #d9d9d9;
}
fieldset:last-of-type {
  border-bottom: none;
}
  textarea {
    height: 100%;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 15px;
    padding: 15px 10px 10px;
   border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color:  #facfd8;
    color: #000000;
    width: 70%;
    outline: none;
}
::placeholder {
  color: #222;
}

.contact_btn {
  cursor: pointer;
  height: 50px;
  background: #222;
  border: 0;
  font-size: 15px;
  color: #fff;
  padding: 15px;
  
}

.contact-section-header > p {
  font-style: italic;
}
/* Footer */
.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-links i {
  color: #222;
}

.social{
  font-size: 2.4rem;
  transition: transform 0.3s ease-out;
}

.social:hover {
  transform: translateY(8px);
}
.social{
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

footer {
  display: flex;
  flex-wrap: wrap; /*Ensures responsiveness */
  flex-direction: column;
  align-items: center; /* aligns the items vertically*/
  background-color: #fff;
  /*justify-content: space-evenly;*/
  padding: 20px;
  position: relative;
}

footer i {
  vertical-align: middle;
}

